@charset 'utf-8';

/* 1-1 活动简介-------------------------------------------------------------------------------------------------------------**/ 
 
.jm-ck-sitex {
	padding-top: 40px
}

.jm-ck-sitex .jmckb-content {
	margin: 16px auto;
	width: 886px;
	border: 3px solid #ffae00;
	background-color: #f8f7e8;
	padding: 20px 45px
}

.jm-ck-sitex .jmckb-content p {
	text-indent: 2em;
	color: #000;
	font-size: 16px;
	line-height: 36px;
	font-family: "Microsoft YaHei"
}

/* 1-2 评选范围-------------------------------------------------------------------------------------------------------------**/ 
.jm-ck-sitec {
	background: url(../images/jm-ck-tpc.jpg) no-repeat center;
	height: 330px;
	padding-top: 40px;
	min-width: 1180px;
	margin: 0 auto
}
.jm-ck-sitec .jm-tit-h3 {
	background: 0
}

.jm-ck-sitec .jmckc-content {
	margin: 26px auto;
	width: 886px;
	padding: 20px 45px
}

.jm-ck-sitec .jmckc-content p{
	text-indent: 2em;
	color: #000;
	font-size: 16px;
	line-height: 36px;
	font-family: "Microsoft YaHei"
}

/* 1-3 评选规则-------------------------------------------------------------------------------------------------------------**/ 

.jm-ck-sited {
	padding: 40px 0 20px;
	background-color: #fff;
	min-width: 1180px;
	margin: 0 auto
}

.jm-ck-sited .jmckd-l {
	width: 392px;
	float: left;
	margin-left: 107px;
	margin-top: 24px
}

.jm-ck-sited .jmckd-r {
	width: 472px;
	float: right;
	margin-right: 95px;
	margin-top: 24px
}

.jm-ck-sited .jmckd-l h4,.jm-ck-sited .jmckd-r h4 {
	color: #000;
	font-size: 20px;
	line-height: 36px;
	font-family: "Microsoft YaHei"
}

.jm-ck-sited .jmckd-l p,.jm-ck-sited .jmckd-r p {
	color: #000;
	font-size: 16px;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	text-indent: 2em
}

/* 1-4 表彰奖励-------------------------------------------------------------------------------------------------------------**/ 
.jm-ck-sitee {
	padding: 20px 0 50px;
	background-color: #f1f1f1;
	min-width: 1180px;
	height:150px;
	margin: 0 auto
}

.jm-ck-sitee .jmcke-l {
	width: 392px;
	float: left;
	margin-left: 107px;
	margin-top: 24px
}

.jm-ck-sitee .jmcke-r {
	width: 472px;
	float: right;
	margin-right: 95px;
	margin-top: 24px
}
.jm-ck-sitee .jmcke-l h4,.jm-ck-sitee .jmcke-r h4 {
	color: #000;
	font-size: 20px;
	line-height: 36px;
	font-family: "Microsoft YaHei"
}

.jm-ck-sitee .jmcke-l p,.jm-ck-sitee .jmcke-r p {
	color: #000;
	font-size: 16px;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	text-indent: 2em
}

/* 1-5 表彰奖励-------------------------------------------------------------------------------------------------------------*/ 
.jm-ck-sitef table {
	margin: 15px auto;
	width: 980px;
	box-shadow: 6px 8px 8px #d1d0cf
}

.jm-ck-sitef table,.jm-ck-sitef table tr,.jm-ck-sitef table td {
	border-collapse: collapse;
	border: 1px solid #d1d1d1;
	padding: 10px
}

.jm-ck-sitef table thead {
	background-color: #e97d40
}

.jm-ck-sitef table thead td {
	color: #fff;
	font-size: 20px;
	font-family: "Microsoft YaHei"
}

.jm-ck-sitef table tbody {
	background-color: #fff
}

.jm-ck-sitef table tbody .text-c {
	color: #000;
	font-size: 25x;
	vertical-align: middle;
	font-family: "Microsoft YaHei";
}


.jm-ck-sitef table tbody .text-p {
	color: #000;
	font-size: 16px;
	vertical-align: middle;
	font-family: "Microsoft YaHei";
	padding-left: 30px
}

.jm-ck-sitef table tbody tr.sec {
	background-color: #f6fcff
}

.jm-ck-sitef {
	padding: 40px 0 20px;
	background-color: #fff;
	min-width: 1180px;
	margin: 0 auto
}

.jm-ck-sitef .a5 {
	width: 776px!important
}

/* 1-6 合作伙伴-------------------------------------------------------------------------------------------------------------**/ 

.jm-ck-siteg {
	padding: 20px 0;
	background-color: #f1f1f1;
	min-width: 1180px;
	margin: 0 auto
}

.jm-ck-siteg h4 {
	color: #0053a7;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	line-height: 26px;
	margin-bottom: 8px
}

.jm-ck-siteg li {
	float: left;
	margin: 0 12px 6px 0
}

.jm-ck-siteg li img {
	width: 140px;
	height: 57px
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/


.main1180 {
	width: 1180px;
	margin: 0 auto
}

.main780 {
	width: 780px;
	margin: 0 auto
}

.jmck-right {
	position: absolute;
	left: 50%;
	top: 720px;
	z-index: 222;
	width: 168px;
	margin-left: 500px;
	background: url(../images/jm-ck-icon2b.png) repeat-y 34px
}

.jmck-right.on {
	position: fixed;
	top: 30px
}

.jmck-right ul {
	margin-top: -16px
}

.jmck-right li {
	margin-left: 34px;
	position: relative;
	padding-left: 28px;
	color: #252525;
	font-size: 14px;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	cursor: pointer;
	height: 36px
}

.jmck-right li span {
	background: url(../images/jm-ck-icon2a.png) no-repeat center;
	width: 12px;
	height: 12px;
	display: block;
	padding: 4px;
	position: absolute;
	left: -9px;
	top: 9px
}

.jmck-right li:hover {
	color: #65b4eb
}

.jmck-right li:hover span {
	background: url(../images/jm-ck-icon2f.png) no-repeat center
}

.jmck-right li.on {
	cursor: auto;
	line-height: 50px;
	font-size: 24px;
	height: 50px
}

.jmck-right li.on span {
	background: url(../images/jm-ck-icon2d.png) no-repeat center;
	width: 39px;
	height: 39px;
	display: block;
	padding: 4px;
	position: absolute;
	left: -24px;
	top: 4px
}

.jmck-right a.go-top {
	display: block;
	background: url(../images/jm-ck-icon2e.png) no-repeat center;
	width: 59px;
	height: 59px;
	margin-left: 6px;
	margin-top: 20px;
	cursor: pointer
}

.jmck-right a.go-top:hover {
	background: url(../images/jm-ck-icon2g.png) no-repeat center
}

.jmck-right li.on i {
	background: url(../images/jm-ck-icon2c.png) no-repeat;
	display: block;
	width: 39px;
	height: 39px
}

.jmck-right li.on i.jmck-icon1 {
	background-position: 6px 8px
}

.jmck-right li.on i.jmck-icon2 {
	background-position: 6px -40px
}

.jmck-right li.on i.jmck-icon3 {
	background-position: 6px -84px
}

.jmck-right li.on i.jmck-icon4 {
	background-position: 6px -132px
}

.jmck-right li.on i.jmck-icon5 {
	background-position: 6px -182px
}

.jmck-right li.on i.jmck-icon6 {
	background-position: 6px -222px
}

.jmck-right li.on i.jmck-icon7 {
	background-position: 6px -264px
}

.jmck-right li.on i.jmck-icon8 {
	background-position: 6px -310px
}

@media screen and (max-width:1180px) {
	.jmck-right {
		left: auto!important;
		margin-left: auto!important;
		right: 20px
	}
}

.jm-ck-sitea {
	background: url(../images/jm-ck-tpa.jpg) no-repeat center;
	height: 408px;
	min-width: 1180px;
	margin: 0 auto
}

.jm-ck-sitea p,.jm-ck-sitea h2,.jm-ck-sitea h3 {
	text-indent: -999999em
}



.jm-ck-siteb {
	background: url(../images/jm-ck-tpb.jpg) no-repeat center;
	height: 238px;
	position: relative;
	padding-top: 196px;
	min-width: 1180px;
	margin: 0 auto
}

.jm-ck-address {
	position: absolute;
	top: 4px;
	color: #fc6e48;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	line-height: 36px;
	width: 600px;
	left: 50%;
	margin-left: -270px
}

.jm-ck-address span {
	font-size: 24px;
	font-family: "Microsoft YaHei";
	line-height: 36px;
	margin: 0 64px
}

.jmck-baoming {
	position: absolute;
	display: block;
	width: 194px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	color: #fff;
	background-color: #fc6e48;
	left: 50%;
	margin-left: -97px;
	top: 66px;
	box-shadow: 4px 4px 6px #fec0b0
}

.jmck-over {
	position: absolute;
	display: block;
	width: 194px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	color: #fff;
	background-color: #868485;
	left: 50%;
	margin-left: -97px;
	top: 66px;
	box-shadow: 4px 4px 6px #e1e1e1
}

.jmck-over:hover {
	text-decoration: none;
	color: #fff
}

.jmck-baoming:hover {
	text-decoration: none;
	background-color: #e9532b;
	color: #fff
}

.bg-fff {
	background-color: #fff
}

.mt-20 {
	margin-top: 20px!important
}

.text-c {
	text-align: center!important
}

.l-22 {
	line-height: 22px!important
}

.pl-90 {
	padding-left: 90px!important
}

.jm-tit-h3 {
	width: 430px;
	margin: 0 auto;
	background: url(../images/jm-ck-icon1.jpg) repeat-x 0 22px;
	position: relative;
	text-align: center;
	height: 60px
}

.jm-tit-h3 span {
	color: #fc6e48;
	font-size: 36px;
	font-family: "Microsoft YaHei";
	padding: 0 8px;
	line-height: 40px
}

.jm-tit-h3 b {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #8c8b8b;
	font-size: 14px;
	line-height: 20px;
	top: 40px;
	left: 0;
	text-transform: uppercase
}









.jm-ck-siteh {
	padding: 40px 0 30px;
	background-color: #fff;
	min-width: 1180px;
	margin: 0 auto
}

.jmckh-c1 {
	width: 500px;
	margin: 20px 0 20px 370px
}

.jmckh-c1 p {
	color: #000;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 36px
}

.jmckh-c1 p a {
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 36px;
	margin: 0 2px
}

.jmckh-c1 p b {
	color: #000;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	line-height: 36px
}

.jmckh-c1 p a.btna {
	padding: 6px 22px;
	border: 1px solid #fc6e48;
	font-size: 16px;
	color: #fc6e48;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	border-radius: 18px
}

.jmckh-c1 p a.btnb {
	padding: 6px 22px;
	border: 1px solid #868485;
	font-size: 16px;
	color: #868485;
	line-height: 36px;
	font-family: "Microsoft YaHei";
	border-radius: 18px;
	text-decoration: none
}

.jmckh-c1 p a.btna:hover {
	color: #fff;
	text-decoration: none;
	background-color: #fc6e48
}

.jmckh-l {
	width: 380px;
	height: 260px;
	float: left;
	margin-left: 176px;
	margin-top: 30px;
	border: 1px solid #ccc
}

.jmckh-r {
	margin-top: 30px;
	width: 550px;
	margin-right: 30px;
	float: right;
	padding-top: 20px
}

.jmckh-r h4 {
	color: #000;
	font-size: 22px;
	font-family: "Microsoft YaHei";
	line-height: 40px
}

.jmckh-r p {
	color: #0053a7;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 36px
}

.jmckh-r p em {
	color: #000;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 36px
}

.jm-overtop {
	background: url(../images/jimei-topa.png) no-repeat center;
	height: 580px
}



.j-nava {
	height: 70px;
	background-color: #0560bc
}

.j-nava li {
	float: left;
	width: 277px;
	height: 70px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	line-height: 70px;
	cursor: pointer
}

.j-nava li.on {
	padding-top: 14px;
	background: url(../images/jimei-navon.png) no-repeat center;
	margin-top: -14px;
	line-height: 70px
}

.hjgg {
	padding-top: 40px
}

.hjgg p.hjgg-pa {
	color: #393939;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 26px;
	text-indent: 2em;
	margin: 10px auto 0;
	width: 1010px
}

.hjgg-tba,.hjgg-tbb {
	width: 530px;
	float: left;
	margin: 10px 15px;
	background-color: #fbfbfb
}

.hjgg-tbc {
	width: 1090px;
	margin-left: 50px;
	background-color: #fbfbfb
}

.hjgg-tba {
	margin-left: 50px
}

.hjgg-tba,.hjgg-tba tr,.hjgg-tba td,.hjgg-tbb,.hjgg-tbb tr,.hjgg-tbb td,.hjgg-tbc,.hjgg-tbc tr,.hjgg-tbc td {
	border-collapse: collapse;
	border: 1px solid #efefef;
	height: 54px;
	line-height: 54px;
	vertical-align: top;
	color: #393939;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	padding-left: 44px
}

.hjgg-tbc td {
	padding-left: 168px
}

.hjgg-tba td.td1,.hjgg-tbb td.td1 {
	width: 104px;
	background-color: #efebe2;
	border-color: #fff;
	color: #393939;
	text-align: center;
	padding-left: 0
}

.hjgg-tba thead td {
	background-color: #e3b01c;
	color: #fff;
	text-align: center;
	padding-left: 0
}

.hjgg-tbb thead td {
	background-color: #ff9f00;
	color: #fff;
	text-align: center;
	padding-left: 0
}

.hjgg-tbc thead td {
	background-color: #1ca6e3;
	color: #fff;
	text-align: center;
	padding-left: 0
}

.hdzb {
	padding-top: 40px
}

.hdzb .main1180,.hdxc .main1180 {
	overflow: hidden
}

.hdzb p.hdzb-pa {
	color: #393939;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 26px;
	text-indent: 2em;
	margin: 10px auto 20px;
	width: 1010px
}

.hdzb ul {
	padding-left: 50px;
	width: 105%
}

.hdzb li {
	width: 354px;
	float: left;
	text-align: center;
	margin-left: 10px
}

.hdzb li span {
	display: block;
	margin: 0 auto;
	text-align: center
}

.hdzb li span.p-tig {
	color: #fc6e48;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	line-height: 40px;
	margin-top: 10px
}

.hdzb li p {
	color: #393939;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	line-height: 40px
}

.hdzb li p b {
	color: #393939;
	font-size: 24px;
	font-family: "Microsoft YaHei";
	line-height: 56px
}

.hdzb li span.sp-bun {
	width: 104px;
	height: 36px;
	color: #fc6e48;
	border: 1px solid #fc6e48;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 36px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top:10px;
}

.hdzb li p i {
	color: #0271b1;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 26px
}

.hdzb li p em {
	color: #393939;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	line-height: 30px;
	text-align: left;
	display: block;
	width: 220px;
	margin: 0 auto;
	text-indent: 2em
}

.hdxc {
	padding-top: 60px;
	background: url(../images/jimei-hdxc.jpg) no-repeat bottom;
	height: 940px
}

.hdxc h3 span {
	background-color: #161d34
}

.hdxc ul {
	width: 105%
}

.hdxc li {
	float: left;
	margin: 0 10px 10px 0
}

.hdxc li img {
	display: block;
	width: 380px;
	height: 254px
}

.hdxc .hdxc-ca {
	height: 36px;
	line-height: 36px
}

.hdxc .hdxc-ca a {
	display: block;
	width: 345px;
	float: left;
	line-height: 36px;
	color: #fff600;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	margin-right: 10px;
	padding-left: 35px;
	background: url(../images/jimei-play.png) no-repeat left;
	text-decoration: none
}




.hjgg-tbd {
	margin: 15px auto;
	width: 980px;
	box-shadow: 6px 8px 8px #d1d0cf
}

.hjgg-tbd,.hjgg-tbd tr,.hjgg-tbd td {
	border-collapse: collapse;
	border: 1px solid #d1d1d1;
	padding: 10px
}

.hjgg-tbd thead {
	background-color: #e97d40
}

.hjgg-tbd thead td {
	color: #fff;
	font-size: 20px;
	font-family: "Microsoft YaHei"
}

.hjgg-tbd tbody {
	background-color: #fff
}

.hjgg-tbd tbody td {
	color:#000;
	font-size:16px;
	vertical-align:middle;
	font-family:"Microsoft YaHei";
}

.hjgg-tbd tbody .text-1 {
	width:120px;
	margin-left:40px;
}


.hjgg-tbd tbody .text-2 {
	width:500px
}

.hjgg-tbd tbody tr.sec {
	background-color: #f6fcff
}		